body{
	background-color:#dcf2d2!important;
}
.bg-primary{
	background: #009688 ! important;
}
.banner
{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/callgl.jpg);
	color: white;
	background-size:cover;
	background-repeat:no-repeat;
	padding-top: 10px;

}
.my-card{
	padding:0px;
	background: #99e6e6;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #99e6e6;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}